<!-- <button mat-icon-button style="float: right;margin: 5px;">
    <mat-icon>Close</mat-icon>
</button>
<mat-dialog-content>
    <header>
        <h1>Contact Us</h1>
    </header>
    <p> <mat-form-field>
        <input matInput placeholder="Name">
        <mat-icon matSuffix>person</mat-icon>
    </mat-form-field></p>
    <p> <mat-form-field>
        <input matInput placeholder="Name">
        <mat-icon matSuffix>person</mat-icon>
    </mat-form-field></p>
<button mat-raised-button color="primary" > Save</button>
<button mat-raised-button color="warn"  matDialogClose> cancel</button>

</mat-dialog-content> -->
<!-- 
<body>

  <button onclick="togglePopup()">Afficher Popup</button>

  <div class="popup" id="myPopup">
    <span class="close" onclick="togglePopup()">&times;</span>
    <p>Contenu de la popup ici...</p>
  </div>

  <script src="script.js"></script>
</body> -->
<div id="modalbg">
    <div id="modal">
        <h1>hello</h1>
        <button>press</button>
    </div>
</div>


