<div class="container">
    <div class="heading"> Connexion</div>
    <form action="" class="form">
      <input required="" class="input" type="email" name="email" id="email" placeholder="E-mail">
      <input required="" class="input" type="password" name="password" id="password" placeholder="Password">
      <span class="forgot-password"><a href="tatatata">mot de passe oublié ?</a></span>
      <input class="login-button" type="submit" value="Connexion">
      
    </form>
    <div class="social-account-container">
        <span class="title">Vous n'avez pas encore de compte ? <a routerLink="/user/register"   > s'inscrire</a></span>
        <div class="social-accounts">
       
        </div>
      </div>
  </div>