<body>
  <div class="container" [ngClass]="{'gray-background': popup}">
    <h2>Mes préférences</h2>
    <img src="/../assets/update.jpg" />
    <div class="user-image">
      
      <label  *ngIf="popup == false" for="file" class="file-button"></label>
      <input  class="file-input" type="file" id="file" (change)="onFileChange($event)" />
    </div>

    <div class="card">
      <div class="info-container">
        <p class="mail">Nom</p>

        <div class="field">
          <span>
            <input
              type="text"
              name="fname"
              id="fname"
              maxlength="100"
              [value]=username
              readonly
            />
          </span>
          <button class="edit-button" (click)="enableEdit('fname')"></button>
        </div>

        <div class="field">
          <p class="mail">Adresse e-mail </p>
          <span>   
                   <button class="edit-button" (click)="toggleButtonAndEdit('email')"></button>


                   <input
                   type="email"
                   name="email"
                   id="email"
                   maxlength="100"
                   [value]='email'
                 />
                 
          </span>
        </div>

        <div class="field">
          <h3 class="password">Mot de passe</h3>
          <span>
            <input
              type="password"
              name="password"
              id="password"
              maxlength="100"
              value="********"
              readonly
            />
          </span>
          <button class="edit-button" (click)="popup =! popup " ><i class="fa-solid fa-pen"></i></button>

        </div>
      </div>
     
      <div class="field">
        <br>
        <span>
        <p class="mail">Supprimer mon compte</p>
        <button class="delete"> <i class="fa-solid fa-trash-can"></i></button>
      </span>
      
      </div>
      <!-- <button (click)="openDialog()"> contact us</button> -->
    </div>

  </div>
  <div class="password-change-card" *ngIf="popup == true">
    <h2>Changer de mot de passe</h2>
  <br>
  <form [formGroup]="form">
    <div class="form-group">
      <label for="new_password">Nouveau mot de passe</label>
      <input type="password" formControlName="new_password">
    </div>

    <div class="form-group">
      <label for="confirm_password">Confirmez votre nouveau mot de passe</label>
      <input type="password" formControlName="confirm_password">
      <div class="validator" *ngIf="form?.errors?.['mismatch'] && form?.touched"> password must match *</div>

    </div>
  </form>
  
    <div class="button-group">
      <button [disabled]="!form.valid"  (click)="editPassword()"  class="save-button">Enregistrer</button>
      <button class="cancel-button"  (click)="popup =! popup">Annuler</button>
    </div>
    
  </div>
  <button *ngIf="button==true"> name</button>
 
</body>