
<footer *ngIf="!shouldShowNavbar()">
<div class="footer">
<div class="row">
<a href="#"><i class="fa-brands fa-facebook"></i></a>
<a href="#"><i class="fa-brands fa-square-instagram"></i></a>
<a href="#"><i class="fa-brands fa-linkedin"></i></a>
<a href="#"><i class="fa-brands fa-square-x-twitter"></i></a>
</div>

<div class="row">
    <ul>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Politique de confidentialité</a></li>
        <li><a href="#">Conditions générales</a></li>
        </ul>
        </div>

<div class="row">
    Copyright © 2018 Umanlink - Tous droits réservés || Conçu par : Umanlink - SERVICE NUMÉRIQUE
</div>
</div>
</footer>
