
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
  flex-wrap: wrap;
  
 
}


.contact {
  width: 20%;
  min-height: 98vh;
  max-height: 100vh; 
   overflow: auto;
 gap: 1rem;
  position: sticky;
  top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

}
.contact::-webkit-scrollbar{
  display: none;
}

.post {
  width: 75%;
  border-radius: 15px;
  color: #0a0a0a;
  padding: 2rem 1rem;
  background: white;
  /* overflow:auto ;
  max-height: 100vh; */
}
.post::-webkit-scrollbar{
  display: none;
}

@media screen and (max-width:900px) {
  .contact {
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: none ;
  max-height: none;
  position: static;
  }
  .container div img {
    width: 8rem !important;
    height: 8rem !important;
    object-fit: contain;
    border-radius: 50%;
  
  }
  
  
  .post {
  width: 98%;
  margin: 0 auto !important;
  overflow: none !important ;
  max-height: auto !important;
  height: auto !important;
  }

  
}







.container div img {
  width: 65%;
  height: 10%;
  object-fit: contain;
  border-radius: 50%;
  margin: 0 auto;
}
.userInfo{
  background: white;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  border-radius: 1rem;
width: 100%;
padding: 1rem 0 !important;

}

.filter{
  width: 100%;
  background: white;

  border-radius: 1rem;
  padding: 1rem  !important;
}

.contact_card {
  width: 95%;
  background-color: rgb(250, 246, 246); ;
  border-radius: 10px;
  margin: 0 auto;
  /* Ajoutez cette ligne pour centrer horizontalement */
  text-align: left;
  padding: 1rem;
  font-size: 0.9rem;
}

.publication{
    
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: transparent;
  width: 100%;
}
.contact_card span {
  padding-top: 15.5rem; /* Ajoutez la marge souhaitée entre les éléments */
}


button {
  background-color: #007CF8;
  padding: 0.5rem 0.5rem;
  border: none;
  border-radius: 1rem;
  width: 40%;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  color: white;
}

.button{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.contact p {
  color: #007CF8;
  text-align: left !important;
  padding: 1rem;
  /* font-size: 16px;   */
}


h3.title {
  font-weight: bold;
  text-align: center;
  color: #007CF8;
  width: 100%;
  font-size: 1rem;

}

.popup-1-wrap input {
  display: none;
}

.popup-1-trigger {
  position: absolute;
  width: 100%;
  height: 100%;
}

.popup-1-overlay {
  display: flex;
  justify-content: center;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.5s, transform 0s 0.5s;
  transform: scale(0);
}

.popup-1-wrap input:checked ~ .popup-1-overlay {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.5s;
}

.popup-1-content {
  position: relative;
  align-self: center;
  width: 70%;
  max-width: 800px;
  padding: 30px 30px 15px;
  box-sizing: border-box;
  background: #fff;
  border-radius: 8px;
  line-height: 1.4em;
  transition: 0.5s;
}

.popup-1-close {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #95979c;
  font-weight: 900;
  font-size: 30px;
  padding: 5px 15px;
  /*cursor: pointer;*/
}


.popup-1-open {
 margin-top: 2rem;
  display: flex;
 justify-content: flex-start;
 gap: 2rem;
  /*cursor: pointer; */
  transition: .3s ease;
  width: 100%;
  background: white;
  border-radius: 10px;
  /* Add this line for border-radius */
  box-shadow: 0px 6px 16px -6px rgba(94, 92, 92, 0.5);
  margin-bottom: 1rem;
  padding: 2rem 1rem;
}

.popup-1-open .add {
  width: 5rem !important;
  height: 5rem !important;
  object-fit: cover;
  margin: 0 !important;
}
/*
.popup-1-open:hover{
    background:#000;
    color:#fff;
    transition: .3s ease;
}
*/

.input-post {
  width: 80% ;
  border: none;
  padding: 0.2rem ;
  margin-top: 2rem ;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #57707D;
}

.content-publication {
  width: 100%; /* Assurez-vous que la carte occupe 100% de la largeur disponible */
  /* Autres styles... */
  position: relative;
}

.text-container {
  flex-grow: 1;
}

.name .post {
  width: 100%;
  box-sizing: border-box; /* Inclut les bordures et les rembourrages dans la largeur */
}




.content-publication {
  width: 100%;
  background: white;
  border-radius: 10px;
  /* Add this line for border-radius */
  box-shadow: 0px 6px 16px -6px rgba(94, 92, 92, 0.5);
  margin-bottom: 1rem;

}

.content-publication .wrap {
  width: 94%;
  margin: auto;
  margin-bottom: 28px;
  padding: 0 15px;
  box-sizing: border-box;
}

.content-publication .heading {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ddd;
  margin: auto;
  width: 90%;
}

.content-publication .heading .name img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.content-publication .heading .name h3 {
  font-size: 20px;
  color: #000;
  font-weight: 100;
}

.content-publication .heading p {
  color: #818181;
  font-size: 15px;
}

.content-publication .public {
  padding: 20px 0;
}

.content-publication .public p {
  font-size: 0.9rem;
  line-height: 1.5;
  padding: 10px 0;
  color: #333;
  text-align: left;
}

.content-publication .public .column-img img {
  width: 49%;
}

.content-publication .public .img img {
  width: 100%;
}

.content-publication  .like,
.content-publication  .comment {
  /* padding: 7px 16px; */
  font-size: 1.2rem;
  /* background: #57707D; */
  background-color: white;
  border: none;
  color: #007CF8;
  width: 30%;
  cursor: pointer;
  margin-bottom: 20px;
  transition: all .1s;
}
.fav {
   display: flex;}

.content-publication  .like {
  margin-right: 10px;
}


.content-publication  .like:before {
  content: '\f164  ';
  font-family: fontAwesome;
  margin-right: 10px;
}
.delete {
  background-color: white;
  position :absolute;
  color: red;
  right: 0;
  top: 0;
  width: 2rem;
  font-size: 1.3rem;
}



.content-publication  .comment:before {
  content: '\f165'; /* Code Unicode pour l'icône dislike dans Font Awesome */
  font-family: fontAwesome;
  margin-right: 7px;
  box-shadow: 0px 6px 16px -6px rgba(94, 92, 92, 0.5);

}


.content-publication p {
  font-size: 40px;
}