<div class="container">

  <div class="contact">

    <div class="userInfo">
      <i class="fas fa-edit editProfil" *ngIf="isButtonVisible()" [routerLink]="['/user/update']"></i>

      <!-- <img src="/assets/was.png" id="blah" alt="Avatar" /> -->
      <!-- user-compte.component.html -->
      <img src="/assets/was.png" id="blah" alt="Avatar" *ngIf="!profilImage" />
      <img [src]="profilImage" id="blah" alt="Avatar" *ngIf="profilImage" />
      <h2>{{profil?.anonyme}}</h2>
      <div class="contact_card">
        <!-- <span> <i class="fa-solid fa-phone"></i> : </span><br><br> -->
        <span *ngIf="isButtonVisible()"> <i class="fa-solid fa-envelope"></i> : {{user?.email}} </span><br><br>
        <span><i class="fa-solid fa-location-dot"></i> : {{profil?.timezone}} </span>
      </div>
      <div>
        <p>Compétence Principale : {{profil?.mainSkill}} </p>
        <div class="filter">
          <!-- <input type="radio" id="huey" name="drone" value="huey" /> Tri par date la plus <label for="huey"></label><br><br> -->
          <!-- <input type="radio" id="huey" name="drone" value="huey" /> Tri par date la plus <label for="huey"></label> -->
          <div class="title-container">
    
            <h3 (click)="pub = true" class="title" [class.underlined]="pub">Publication</h3>
            
            <h3 *ngIf="isButtonVisible() "  (click)="pub = false" class="title" [class.underlined]="!pub">Dashboard</h3>
          </div>
      
        
        
        </div>

      </div>

      <div class="button">
        <button *ngIf="isButtonVisible()" class="edit" (click)="navigateToCvCreer('/cv/edit')">
          <h3>Modifier cv</h3>
        </button>
        <button *ngIf="isButtonVisible()" class="read" (click)="navigateToCvCreer('cv/afficher')">
          <h3>Afficher cv</h3>
        </button>
        <button *ngIf="!isButtonVisible()" class="read" (click)="addOrGOToChat()">
          <h3>Contacter  <i class="fa-solid fa-circle" style="color: #009919;font-size: 0.65rem;" *ngIf="status=='ONLINE'"></i><i class="fa-solid fa-circle" style="color: #787978;font-size: 0.65rem;" *ngIf="status=='OFFLINE'"></i></h3>
        </button>

      </div>
    </div>
    <!-- <div class="filter"> -->
      <!-- <input type="radio" id="huey" name="drone" value="huey" /> Tri par date la plus <label for="huey"></label><br><br> -->
      <!-- <input type="radio" id="huey" name="drone" value="huey" /> Tri par date la plus <label for="huey"></label> -->
      <!-- <div class="title-container">

        <h3 (click)="pub = true" class="title" [class.underlined]="pub">Publication</h3>
        
        <h3 *ngIf="isButtonVisible() "  (click)="pub = false" class="title" [class.underlined]="!pub">Dashboard</h3>
      </div>
   -->
    
    
    <!-- </div> -->

  </div>
  <div class="post">

    <div class="title-container">
      <!-- <h3 (click)="pub = true" class="title" [class.underlined]="pub">Publication</h3> -->
      <!-- <h3 *ngIf="isButtonVisible() "  (click)="pub = false" class="title" [class.underlined]="!pub">Dashboard</h3> -->
    </div>


    <div class="popup-1-wrap">
      <input id="popup-1-coupon" type="checkbox">
      <div class="popup-1-overlay">
        <label for="popup-1-coupon" class="popup-1-trigger"></label>
        <div class="popup-1-content">
          <label for="popup-1-coupon" class="popup-1-close">×</label>
          <app-add-post></app-add-post>

        </div>
      </div>
    </div>




    <article *ngIf="pub===true " class="publication">
      <!--  Send post  -->

      <label *ngIf="isButtonVisible()" for="popup-1-coupon" class="popup-1-open">

        <img src="/assets/was.png" class="add" alt="Avatar" *ngIf="!profilImage" />
        <img [src]="profilImage" class="add" alt="Avatar" *ngIf="profilImage" />        <div class="input-post">publier...</div>
      </label>



      <!--  Publications  -->


      <ng-container *ngIf="posts">
        <div *ngFor="let post of posts.content , let i = index" class="content-publication wrap shadow">
          <button class="delete" (click)="deletePost(post.id)" *ngIf="isButtonVisible()"><i class="fa-regular fa-trash-can"></i></button>

          <div class="heading flex-center">
            <div class="name flex-center">
              <img src="/assets/was.png" id="blah" alt="Avatar" *ngIf="!profilImage" />
              <img [src]="profilImage" id="blah" alt="Avatar" *ngIf="profilImage" />
                            <span>{{profil?.anonyme}}</span>
            </div>
            <p class="date">{{post?.date | date : 'shortDate'}}</p>
            <div class="public">
              <p>{{post?.desc}}</p>
              <p></p> <!-- Utilisez la propriété reactionsCount pour chaque post -->
            </div>
            
            <ng-container *ngFor="let file of post.filesURLS">
              <img [src]="file.url" style="width: 150px; height: 100px; border-radius: 0;margin: 5px;" alt="file" *ngIf="file.type=='image'">
              <video width="320" height="240" controls style="width: 150px; height: 100px; border-radius: 0;margin: 5px;" *ngIf="file.type=='video'">
                <source [src]="file.url" type="{{file.original}}">
                Your browser does not support the video tag.
              </video>
              <!-- <img src="file:///C:/Users/ja.ahmed/Desktop/UMANLINK/Uploads/Postes/657c08a746db1d55a6ef91ee/2023-12-15/2023-12-15%20091428%20358Z/Umanlink-Group-Logo-Header.png"style="width: 150px; height: 100px; border-radius: 0;margin: 5px;" alt="file"> -->

            </ng-container>

            <!-- <button class="like" (click)="addnmbrReact(post.id)" ><i class="fa-regular fa-heart"></i></button> -->
            <!-- <button class="like custom-like" (click)="addnmbrReact(post.id)"> {{post?.reactionsCount}} j'aime</button> -->


            <div class="fav">
              <!-- Check if the user has reacted or not -->
              <ng-container *ngIf="hasReacted(post)">
                <!-- If the user has reacted, show the unlike button -->
                <button class="like" (click)="subnmbrReact(post.id, i)">
                  <i class="fa-solid fa-heart"></i>  <hr><hr>{{post?.reactionsCount}} 
                </button>
              </ng-container>
            
              <ng-container *ngIf="!hasReacted(post)">
                <!-- If the user has not reacted, show the like button -->
                <button class="like" (click)="addnmbrReact(post.id, i)">
                  <i class="fa-regular fa-heart"></i><hr><hr>{{post.reactionsCount}}
                </button>
              </ng-container>
            
              <!-- Add your other buttons here -->
              <button class="comment"><i class="fa-regular fa-comment"></i></button>
              <button class="share"><i class="fa-regular fa-share-from-square"></i></button>
            </div>
            

          </div>
        </div>
      </ng-container>

    </article>

    <article *ngIf="pub===false"  class="dashboard" >
      <app-dashboard></app-dashboard>
      <!-- <article *ngIf="pub===false" class="publication">
       <app-dashboard></app-dashboard> -->



    </article>


  </div>

</div>