<div class="container">

  <div class="contact">

    <div class="userInfo">
      <i class="fas fa-edit edit" [routerLink]="['/user/update']" ></i>

    <!-- <img src="/assets/was.png" id="blah" alt="Avatar" /> -->
<!-- user-compte.component.html -->
<img src="/assets/was.png" id="blah" alt="Avatar" />

    <div class="contact_card">
      <!-- <span> <i class="fa-solid fa-phone"></i> : </span><br><br> -->
      <span> <i class="fa-solid fa-envelope"></i> : {{email}}  </span><br><br>
      <span><i class="fa-solid fa-location-dot"></i> : {{profil.timezone}} </span>
    </div>
    <div>
      <p>Compétence Principale : </p>

      <p>Formations : </p>


      <p>Expérience :</p>

    </div>

    <div class="button">
      <button class="edit" (click)="navigateToCvCreer('/cv/edit')">
        <h3>Modifier cv</h3>
      </button>
      <button class="read" (click)="navigateToCvCreer('cv/afficher')">
        <h3>Afficher cv</h3>
      </button>


    </div>
  </div>
    <div class="filter">
      <input type="radio" id="huey" name="drone" value="huey" /> Tri par date la plus <label
        for="huey"></label><br><br>
      <input type="radio" id="huey" name="drone" value="huey" /> Tri par date la plus <label for="huey"></label>
    </div>

  </div>
  <div class="post">

    <h3 class="title"> Publication</h3>

    <div class="popup-1-wrap">
      <input id="popup-1-coupon" type="checkbox">
      <div class="popup-1-overlay">
        <label for="popup-1-coupon" class="popup-1-trigger"></label>
        <div class="popup-1-content">
          <label for="popup-1-coupon" class="popup-1-close">×</label>
          <app-add-post></app-add-post>
        </div>
      </div>
    </div>

    
 

      <article class="publication">
        <!--  Send post  -->

          <label for="popup-1-coupon" class="popup-1-open">
          
                  <img class="add" src="/assets/was.png">
                    <div class="input-post">Quoi de neuf</div>

          </label>

   

        <!--  Publications  -->
        
        
<ng-container *ngIf="posts">
        <div  *ngFor="let post of posts.content " class="content-publication wrap shadow">
          <button class="delete" (click)="deletePost(post.id)"><i class="fa-regular fa-trash-can"></i></button>

          <div class="heading flex-center">
            <div class="name flex-center" style="text-align: left;">
              <img src="/assets/was.png " alt="User Image">
              <!-- <h3 style="text-align: left;">{{profil.anonyme}}</h3> -->
            </div>
            <p class="date" style="text-align: left;">{{post.date}}</p>
            <div *ngFor="let file of post.files">

              <img src="https://placehold.co/600x400" style="width: 150px;height: 100px;" alt="Image">


              <!-- {{file.fileDownloadUri}} -->
              <!-- {{file.fileName}} -->

            </div>

            <div class="public" style="text-align: right;">
              <p>{{post.desc}}.</p>

            </div>
            <div class="fav" >
              <button class="like">Like</button>
              <button class="comment">dislike</button>
            </div>
          </div>
        </div> 
      </ng-container>

      </article>


  </div>

</div>

<!--JAVASCRIPT-->