
nav.nav{
    background-color: white;
    width: 100% !important;
    max-width: 100% !important;
    padding: 0.5rem;
    box-shadow: 10px 10px 15px #00000057;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top:0 ;
}
.nav-items{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 4rem;

    font-size:1rem ;
    font-weight: 700;
}
.nav-item{
    cursor: pointer;
}
.nav-item:hover{
    color: #007CF8;
    margin-bottom: 0.2rem;
    padding: 0.2rem;
    font-size:1.1rem ;
    border-bottom: 2px solid  #007CF8;
    border-top: 2px solid  #007CF8;
    transition: all 0.3s;

}
.logo{
    width: 8rem;
    max-width: 20%;
    border: 1px solid #007CF8;
    background-size: cover;
    border-radius: 0.5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    height: 3.5rem;

}

.logo:hover{
    background-color:#dfdfdf ;
    transition: all 1s;
    transform: skewy(5deg);
    box-shadow: 10px 10px 15px #00000057;

}

 .menu{
    display: none;
}
.profile{
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    width: 20%;
    max-width: 20%;
    border-radius: 50%;
}
.profile i , .menu{
    font-size: 1.5rem;
    color: #061943;

}

.profile i:hover{
    font-size: 2rem;
    color: #007CF8;
    transition: all 0.5s;

}
 @media screen and (max-width: 700px) {
    .menu{
display: initial;    }
    .nav-items{
       position :absolute;
       top: 4.7rem;
       flex-direction: column;
       width: 100%;
       gap: 1rem;
       right: 0;
       margin: 0;
       background-color: white;
       height: 15rem;
    box-shadow: 10px 10px 15px #00000057;

    }

    .nav-item {
        background: #007cf8d3;
        color: white;
        width: 80%;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;

    }

    .nav-item:hover{
        color: #007CF8;
        border-bottom: 2px solid  #007cf8d3;
        background: rgba(236, 236, 236, 0.815);
        margin-bottom: 0.2rem;
        font-size:1.1rem ;
    transition: all 0.5s;

    
    }
   .profile  {
        width: 50% !important;
        max-width: 50% !important;
        gap: 1rem;
   }

   .logo  {
    width: 30% !important;
    max-width: 30% !important;
}
}
