 
<div class="container" >
    <div class="heading">Creation compte </div>
   
    <form [formGroup]="userenForm" class="form">
      <input type="text"  class="input" formControlName="username" id="username" placeholder="Nom utilisateur*" />
      <div *ngIf="   userenForm.controls['username'].touched " class="text-danger" >
        <span *ngIf="userenForm.controls['username'].errors?.['required']">
          ce champ est obligatoire! <br>
        </span>
        <span *ngIf="userenForm.controls['username'].errors?.['minlength']">
          la longueur minimal est 6.
        </span>
    
     
      </div>
        
       
       
          <input type="password" class="input" formControlName="password" placeholder="Mot de passe*"/>
       
          <div *ngIf="   userenForm.controls['password'].touched " class="text-danger" >
            <span *ngIf="userenForm.controls['password'].errors?.['required']">
              ce champ est obligatoire! <br>
            </span>
            <span *ngIf="userenForm.controls['password'].errors?.['minlength']">
              la longueur minimal est 6.
            </span>
  
         
          </div>
   
   
      <input type="password" class="input" formControlName="confirmPwd"placeholder="Confirm Mot de passe*"  />
      <div  class="text-danger" *ngIf="   userenForm.controls['password'].touched">
        <span *ngIf="isMush===false ">
          Confirmer le mot de passe! <br>
        </span>
        <span *ngIf="userenForm.controls['confirmPwd'].errors?.['required']">
          ce champ est obligatoire! <br>
        </span>
        <span *ngIf="userenForm.controls['confirmPwd'].errors?.['minlength']">
          la longueur minimal est 6.
        </span>
  
    </div>
  
   
   
   
      <input class="signup-button" type="submit" value="Poursuivre" (click)="add()" >
   
   
      </form>
   
  </div>