<div class="page-wrap">
    <div class="page-not-found">
      <i class="fa-solid fa-ban img-key"></i>
      <i class="fa-solid fa-hand img-key"></i>
            <h1 class="text-xl">
        <span>4</span>
        <span>0</span>
        <span class="broken">3</span>
      </h1>
      <h4 class="text-md">Access Denied !</h4>
      <h4 class="text-sm text-sm-btm">Vous n’avez pas accès à ce domaine d’application. Parlez à votre administrateur pour débloquer cette fonctionnalité. Vous pouvez revenir à la <a [routerLink]='["/"]'>Page d'accueil</a></h4>
    </div>
  </div>