
<div class="cv">
    <div class="sheet">
        <div class="two-column resume">
            <section class="resume__section resume__header">
                <div class="resume__photo">
                    <img src={{this.user.photo}} alt="">
                </div>
                <div class="resume__content">

                    <h1>{{this.user.name}}</h1>
                    <div class="info-item"><span class="info-label"><i class="fa fa-location-arrow"></i></span><span class="info-text">{{this.user.adresse}}</span></div>
                    <div class="info-item"><span class="info-label"><i class="fa fa-envelope"></i></span><span class="info-text">{{this.user.email}}</span></div>
                    <div class="info-item"><span class="info-label"><i class="fa fa-phone"></i></span><span class="info-text">{{this.user.phone}}</span></div>
                </div>


            </section>
            <div class="resume__columns">
                <div class="resume__main">
                    <section class="resume__section resume__summary">
                        <div class="resume__content">
                            <div class="resume__section-title"><i class="fa-solid fa-clipboard-user"></i>
                                <h2>Parcours professionnel</h2>
                            </div>
                            <div class="other">
                                <div class="other-info">
                                    <p>PHP & JavaScript developer + Devops Enthusiast with a decade of this.cv.success leading teams in delivering appropriate technology solutions for desktop and mobile products.</p>
                                    <p>Comprehensive knowledge of this.cv.enterprise architecture, agile methodologies, remote work, cloud services and web-based applications.</p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="resume__section resume__experience">
                        <div class="resume__content">
                            <div class="resume__section-title"><i class="fa fa-briefcase"></i>
                                <h2>Expériences professionnelles</h2>
                            </div>
                            <div class="xp-item"  *ngFor="let exp of this.cv.experiences" >
                                <div class="xp-job">{{exp.postition}}
                                    <span> {{exp.company}}</span><br/><small>{{exp.localisation}}</small></div>
                                <div class="xp-date"> de {{exp.debut}}  à {{exp.fin}}</div>
                              
                            </div>
                          
                        </div>
                    </section>
                    <section class="resume__section resume__experience">
                        <div class="resume__content">
                            <div class="resume__section-title"><i class="fa-solid fa-graduation-cap"></i>
                                <h2>Formations</h2>
                            </div>
                            <div class="xp-item"  *ngFor="let exp of this.cv.formations" >
                                <div class="xp-job">{{exp.degree}}
                                    <span> {{exp.school}}</span></div>
                                <div class="xp-date"> de {{exp.date}}  </div>
                                
                            </div>
                          
                        </div>
                    </section>
                    <section class="resume__section resume__experience">
                        <div class="resume__content">
                            <div class="resume__section-title"><i class="fa-solid fa-file-signature"></i>
                                <h2>Certifications</h2>
                            </div>
                            <div class="xp-item"  *ngFor="let exp of this.cv.certifications" >
                                <div class="xp-job">{{exp.titre}}</div>
                                <div class="xp-date"> {{exp.date}}</div>

                            </div>
                          
                        </div>
                    </section>
                </div>
                <div class="resume__side">
                    <section class="resume__section resume__skills">
                        <div class="resume__content">
                            <div class="resume__section-title"><i class="fa fa-align-center"></i>
                                <h2>compétences</h2>
                            </div>
                            <div class="resume__text">
                                <div class="extra">
                                    <div class="extra-info principale">{{this.cv.competences[0].nom}}</div>
                                    <div class="extra-details">
                                        <div class="extra-details__progress" [style.width.]="skillLevels[this.cv.competences[0].niveau]"></div>

                                    </div>
                                </div>
                                <div class="extra" *ngFor="let comp of this.cv.competences" >
                                    <div class="extra-info" *ngIf="comp.type=='COMPETENCE_TECH'" >{{comp.title}}</div>
                                    <div class="extra-details">
                                        <div class="extra-details__progress" [style.width.]="skillLevels[comp.niveau]"></div>

                                    </div>
                                </div>
                            
                            </div>
                        </div>
                    </section>
                    <section class="resume__section resume__languages">
                        <div class="resume__content">
                            <div class="resume__section-title"><i class="fa fa-globe"></i>
                                <h2>Languages</h2>
                            </div>
                            <div class="resume__text" >
                            <div class="extra" *ngFor="let comp of this.cv.competences" >

                                <div class="extra-info" *ngIf="comp.type=='COMPETENCE_LANG'">{{comp.title}} <small>({{comp.niveau}})</small></div>
                                
                            </div>
                           
                        </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>