


 
  .cv {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    display: flex;
    justify-content: center;
    width: 210mm;
    min-height: 297mm;
    border: 1px solid #00000048; 
    border-radius: 0.3rem;
    margin: 1rem auto;
    user-select: none;
  }

  .resume {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 13.0736px;
    font-weight: 400;
    line-height: 1.5;
    
  }
  .resume h1 {
    font-size: 2.86em;
    font-weight: 600;
    letter-spacing: -0.5px;
  }
  .resume h2 {
    font-size: 1.43em;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 0;
  }

  .resume .resume__header,
  .resume .resume__section {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.95em;
  }
  .resume .resume__header {
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 4rem;
    filter:blur(5px);      
  }

  .resume__header .resume__photo{
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
  }

  .resume__header .resume__photo img{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .resume .resume__section {
    margin-bottom: 3em;
  }

  .resume .resume__section-title {
    display: flex;
    align-items: center;
    margin-bottom: 1.43em;
  }
  .resume .resume__section-title > i {
    margin-right: 0.63em;
    font-size: 1.14em;
    background-color: #5695cd;
    color: #fff;
    border: 0.25em solid #aacae6;
    border-radius: 50%;
    width: 2.51em;
    height: 2.51em;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.6;
  }
  .resume .resume__section-title > h2 {
    margin-top: 0;
    font-size: 1.5em;
  }
  .resume .resume__columns {
    overflow: hidden;
    padding: 3rem;
    padding-top: 0;
  }
  .resume .resume__main {
   
    width: 100%;
  }
  .resume .resume__side {
    width:100%;
  }
 
  .resume .info-item {
    margin-bottom: 0.2em;
    font-weight: 300;
  }
  .resume .info-item:last-child {
    margin-bottom: 0;
  }
  .resume .info-label {
    display: inline-block;
    padding-right: 0.63em;
    font-size: 1.14em;
    min-width: 2.19em;
    text-align: center;
  }
  .resume .info-label i {
    color: #5695cd;
  }
  .resume .xp-item {
    margin-bottom: 4em;
  }
  .resume .xp-item:last-child {
    margin-bottom: 0;
  }
  .resume .xp-job {
    font-size: 1.14em;
    font-weight: 600;
    line-height: 1.25;
  }
  .resume .xp-job span,
  .resume .xp-job small {
    font-weight: 400;
  }
  .resume .xp-job small {
    font-size: 0.9em;
  }
  .resume .xp-date {
    font-size: 0.6rem;
    margin-top: 0.3em;
    margin-bottom: 1em;
    color: #5695cd;
    text-align: right;
    margin-right: 2rem;
  }

  .resume .resume__text {
    width: 100%;
    display:flex ;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  .resume .extra {
    margin-bottom: 2em;
  }

  .resume .principale{
    color: #0c80e6;
    font-weight: 800;
  }
  .resume .extra:last-child {
    margin-bottom: 0;
  }

 
  .resume .extra-info small {
    color: #666;
    display: inline-block;
    font-size: 0.7em;
    font-weight: 800;
    max-width: 6rem;

  }
  .resume .extra-details,
  .resume .extra-details__progress {
    border-radius: 6px;
    max-width: 6rem;
  }
  .resume .extra-details {
    margin-top: 0.5em;
    background-color: #d1d9e1;
    width: 100%;
    height: 5px;
    position: relative;
  }
  .resume .extra-details__progress {
    background-color: #5695cd;
    height: 5px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .resume .lang-item {
    margin-bottom: 2em;
  }
  .resume .lang-item:last-child {
    margin-bottom: 0;
  }
  .resume .lang-label {
    width: 8em;
  }
  

