<div class="post">
    <h3 class="title">Publication</h3>

 

    <article class="publication">
      
      <div *ngIf=" posts ">
          <div class="imgt">
      <div class="center" style="margin-top: 3rem ;">
        <input type="text" placeholder="Compétences..." [(ngModel)]="skill">
        <select [(ngModel)]="option">
          <option value="talent" >TALENT</option>
          <option value="post">POSTS</option>
        </select>
        <button  (click)="rechercher()">Rechercher</button>
      </div>
  </div>
        <!-- <img id='image'src="/../assets/nodata.jpg"> -->
        
      </div> 
      <ng-container *ngIf="posts">
        <div  *ngFor="let post of posts.content " class="content-publication wrap shadow">

          <div class="heading flex-center">
            <div class="name flex-center" (click)="navigate(post.type,post.user.user)" >
              <img  src="/assets/was.png " alt="User Image">
               <span *ngIf="post.type=='TALENT'">{{post.user.anonyme}}</span> 
               <span *ngIf="post.type=='ENTREPRISE'">{{post.user.profileHeadline}}</span> 
            </div>
            <p class="date" >{{post.date | date : 'shortDate'}}</p>
            <div class="public" >
              <p>{{post.desc}}.</p>
</div>
<ng-container *ngFor="let file of post.filesURLS">
  <img [src]="file.url" style="width: 150px; height: 100px; border-radius: 0;margin: 5px;" alt="file" *ngIf="file.type=='image'">
  <video width="320" height="240" controls style="width: 150px; height: 100px; border-radius: 0;margin: 5px;" *ngIf="file.type=='video'">
    <source [src]="file.url" type="{{file.original}}">
    Your browser does not support the video tag.
  </video>

</ng-container>



          
            <div class="fav" >
              <button class="like">Like</button>
              <button class="comment">dislike</button>
            </div>
          </div>
        </div> 
      </ng-container>
           
        
    </article>
</div>
