<div class="post">
    <h3 class="title">Publication</h3>

 
    <article class="publication">
      
        <ng-container>
            <div  *ngFor="let post of posts " class="content-publication wrap shadow">

                <div class="heading flex-center">
                  <div class="name flex-center" [routerLink]="['/user/compte',post.user.user]">
                    <img  src="/assets/was.png " alt="User Image">
                     <span >{{post.user.anonyme}}</span> 
                  </div>
                  <p class="date" >{{post.date | date : 'shortDate'}}</p>
                  <div class="public" >
                    <p>{{post.desc}}.</p>
   </div>
                  <img src="https://placehold.co/600x400" style="width: 150px; height: 100px; border-radius: 0;margin: 5px;" alt="Image" *ngFor="let file of post.files">
      
      
                
                  <div class="fav" >
                    <button class="like">Like</button>
                    <button class="comment">dislike</button>
                  </div>
                </div>
              </div> 
        </ng-container>
    </article>
</div>
