.container {
    max-width: 27rem;
    width: 95%;
    background: #F8F9FD;
    background: linear-gradient(0deg, #164cc0 -40%, #0099ff 100%);
    border-radius: 2rem;
    padding: 2rem;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
    margin: 0 auto;

    margin-top: 5rem;

  }
  @media screen and (max-width:400px) {
    .form input , .form button{
      width: 100% !important;
    }

    .container {
      width: 90%;
      padding: 2rem 0.5rem;
    }
    
  }
  .heading {
    text-align: center;
    font-weight: 900;
    font-size: 2rem;
    color: #FFFFFF;
  }
  
  .form {
    margin-top: 1rem;
    text-align: center;
  }
  
  .form .input {
    width: 90%;
    background: white;
    border: none;
    padding: 1rem;
    border-radius: 1.2rem;
    margin-top: 1rem;
    box-shadow: #cff0ffc7 0px 10px 10px -5px;

  }
  
  .form .input::-moz-placeholder {
    color: rgb(170, 170, 170);
  }
  
  .form .input::placeholder {
    color: rgb(170, 170, 170);
  }
  
  .form .input:focus {
    outline: none;
    border-inline: 2px solid #12B1D1;
  }
  
  .form .forgot-password {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
  }
  
  .form .forgot-password a {
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: none;
  }
  
  .form .login-button {
    width: 90%;
    font-weight: bold;
    background: rgb(245, 245, 245);
    color: rgb(61, 119, 194);
    margin: 1.5rem auto;
    padding: 0.75rem 0;
    border-radius: 0.5rem;
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
    border: none;
    transition: all 0.2s ease-in-out;
    font-weight: 800;
  }
  .form .login-button:disabled {
    cursor: no-drop;
    background: rgb(230, 228, 228);
    color: rgb(102, 102, 102);
  }
  .form .login-button:hover {
    transform: scale(1.03);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px;
  }
  
  .form .login-button:active {
    transform: scale(0.95);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 15px 10px -10px;
  }
  
  


.validator{
  color:rgb(228, 26, 26);
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
  width: 100%;
  margin: 1rem 0;
}

.container{
  animation: container 1s;
}
@keyframes container{
  from{
    opacity: 0.5;
  }
  to{
    opacity: 1;
  }
}


.title{
  width: 100%;
  text-align: center !important;
  margin: 0 auto;
  
}

a{
  width: 100%;
  color:white;
  font-size: 1rem;
  font-weight: 800;
}