<!-- add-post.component.html -->

<form [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="competence"></label>
      <input type="text" id="competence" formControlName="competence" placeholder="Compétence"/>
    </div>
  
    <div>
 
      <textarea id="description" formControlName="description" placeholder="Description"></textarea>
    </div>
  
    <div>
      <label for="file">Upload File (Image/Video):</label>
      <input type="file" id="file" formControlName="file" />
    </div>
  
    <div>
      <label for="tags">Tags:</label>
      <div formArrayName="tags">
            <ng-container *ngFor="let tag of getControls(); let i = index" [formGroupName]="i">

                <input type="text" required formControlName="name" class="input-field" />
              
                <div class="actions">
                    <button type="button" (click)="removeField( i);" class="remove-button">
                      <i class="fa-regular fa-trash-can"></i>  
                    </button>
                    <button type="button" (click)="addField( );" class="add-button"
                      *ngIf="i===getControls.length-1">
                     <i class="fa-solid fa-circle-plus" style="color: #ffffff;"></i>   expérience
                    </button>
                  </div>
                </ng-container>
                <div class="actions">
        
                  <button type="button" (click)="addField();" class="add-button"
                    *ngIf="getControls.length==0 ">
                   <i class="fa-solid fa-circle-plus" style="color: #ffffff;"></i>   expérience
                  </button>
            </div>

      </div >
   
      
    </div>

        
       
     
  
    <button type="submit">Submit</button>
  </form>
  