<!-- add-post.component.html -->

<form [formGroup]="postForm" (ngSubmit)="onSubmit()" class="addPost">
  <h4>
    postuler quleque chose : 
  </h4>
    <div>
      <input type="text" id="competence" formControlName="competence" placeholder="Compétence..." required/>
    </div>
    <div *ngIf="postForm.get('competence')!.invalid && postForm.get('competence')!.touched" class="error">
      <p>
        <i class="fa-solid fa-triangle-exclamation" style="color: #ff0000;"></i> ce champ est obligatoir !
        <br>
      </p>
    </div>
    <div>
 
      <textarea id="description" formControlName="description" placeholder="Description...."></textarea>
    </div>
    <div *ngIf="postForm.get('description')!.invalid && postForm.get('description')!.touched" class="error">
      <p>
        <i class="fa-solid fa-triangle-exclamation" style="color: #ff0000;"></i> le maximum de caractères est 500.
        <br>
      </p>
    </div>
   
  
  
    <div>

      <div formArrayName="tags">
            <div class="tag" *ngFor="let tag of getControls(); let i = index" [formGroupName]="i">

                     <input type="text" required formControlName="name" class="input-field tagInput" placeholder="Mot clé..." />
                     <button type="button"  class="remove-button" disabled *ngIf="i===0">
                      <i class="fa-regular fa-trash-can"></i>  
                    </button>
              
                    <button type="button" (click)="removeField( i);" class="remove-button" *ngIf="i!==0">
                      <i class="fa-regular fa-trash-can"></i>  
                    </button>

                    <button type="button" class="add-button" disabled *ngIf="i<getControls().length-1">
                      <i class="fa-solid fa-circle-plus"></i>  
                     </button>
                    <button type="button" (click)="addField( );" class="add-button" *ngIf="i===getControls().length-1">
                     <i class="fa-solid fa-circle-plus"></i>  
                    </button>

            </div>
             
     </div>

      
    </div>
    <div>
      <div class="file-input-container">
        <label for="file">
          <i class="fa-solid fa-camera"></i> Ajouter des images/vidéos <i class="fa-solid fa-video"></i>
        </label>
        <input formArrayName="file" type="file" id="files" multiple (change)="detectFiles($event);" accept="image/*,video/*">
      </div>
  
      
    </div>
    <div  *ngIf="getPhotos().controls.length!==0" class="selectedFileContainer" >
      <div formArrayName="file"  *ngFor="let photo of getPhotos().controls; let i = index;"  >
   
            <img [src]="photo.get('url')?.value" class="card-img-top" alt="Image Preview" [formGroupName]="i" class="selectedFile" *ngIf="isImage(photo.get('url')?.value)">
            <video [src]="photo.get('url')?.value" controls [formGroupName]="i" class="selectedFile" *ngIf="isVideo(photo.get('url')?.value)"></video>
            <button type="button" (click)="removefile( i);" class="remove-file" >
              <i class="fa-regular fa-trash-can"></i>  
            </button>

      </div>

  </div>
  <div *ngIf="totalFileSizeExeeded" class="error">
    <p>
      <i class="fa-solid fa-triangle-exclamation" style="color: #ff0000;"></i>La taille totale des fichiers ({{totalSize/1024/1024 | number: '1.2-2'}}Mo) a dépassé la limite de 10 Mo.
      <br>
    </p>
  </div>
  
  <div *ngIf="!totalFileSizeExeeded && totalSize > 0 " class="error"    style="color: rgb(18, 233, 72);">
    <p>
      <i class="fa-solid fa-check"></i>taille totale des fichiers ({{totalSize/1024/1024 | number: '1.2-2'}}Mo)
      <br>
    </p>
  </div>   
     
  
    <button class="submit" type="submit" >Postuler</button>
  </form>
  