<div class="container">
  <div class="contact">
    <div class="contact_card">
      <div class="image">
        <img src="/assets/userf.png" id="blah" alt="Avatar" />
        <p>{{ nom }}</p>
      </div>


    </div>

    <br />
    <br />
    <div class="contact_card">
      <div class="filter">
        <div class="txt" (click)="sortPostsByDate('desc')">
          <input type="radio" id="recent" name="sortOrder1" value="desc" [(ngModel)]="selectedSortOption" />
          <label for="sortOrder1">Date la plus récente</label><br /><br />
        </div>
        <div class="txt" (click)="sortPostsByDate('asc')">
          <input type="radio" id="oldest" name="sortOrder2" value="asc" [(ngModel)]="selectedSortOption" />
          <label for="sortOrder2">Date la plus ancienne </label><br /><br />
        </div>
        <div class="txt" (click)="sortPostsByLikes()">
          <input type="radio" id="relevance" name="sortOrder3" value="likes" [(ngModel)]="selectedSortOption" />
          <label for="sortOrder3">Pertinence</label>
        </div>
      </div>
    </div>
    <br /><br />



  </div>

  <div class="post">
    <h3 class="h">Publication</h3>
    <br>
    <label for="popup-1-coupon" class="popup-1-open">

      <img class="add" src="/assets/userf.png">
      <div class="search"> <input class="input-post" type="text" [(ngModel)]="searchTerm"
          placeholder="Recherche par description" (keyup)="filterPosts()" />
      </div>
   
    </label>
    <br>

 
    <article class="publication">
      <div *ngIf="filteredPosts && filteredPosts.length === 0 ">

        <img id='image' src="/../assets/nodata.jpg">

      </div>
     
  
      <div *ngFor="let post of filteredPosts , let i = index" class="content-publication wrap shadow">
 
        
    
        <div class="heading">
          <div class="name" (click)="navigate(post.type,post.user.user)">
            <img src="/assets/userf.png " alt="User Image" />
            <p class="title" *ngIf="post.type=='TALENT'">
              <label>{{ post.user.anonyme }}</label>
            </p>
    
          <p class="title" *ngIf="post.type=='ENTREPRISE'">
            <label>{{ post.user.profileHeadline }}</label>
          </p>
        </div>
          <p class="date" style="text-align: right">
            {{ post.date | date : "dd/MM/yyyy" }}
          </p>
          <div class="public" style="text-align: right; padding: 4%; padding-right: 10%">
            <p style="text-align: left; size: 20px">{{ post.desc }}.</p>
          </div>
          <ng-container *ngFor="let file of post.filesURLS">
            <img [src]="file.url" style="width: 150px; height: 100px; border-radius: 0;margin: 5px;" alt="file" *ngIf="file.type=='image'">
            <video width="320" height="240" controls style="width: 150px; height: 100px; border-radius: 0;margin: 5px;" *ngIf="file.type=='video'">
              <source [src]="file.url" type="{{file.original}}">
              Your browser does not support the video tag.
            </video>
          
          </ng-container>

          <div class="reaction">
            <ng-container *ngIf="!hasReacted(post)">

              <button (click)="addnmbrReact(post.id,i)" class="like"><i class="fa-regular fa-heart"></i>
                {{post?.idreacts.length}}
              </button>
            </ng-container>
            <ng-container *ngIf="hasReacted(post)">

              <button class="like" (click)="subnmbrReact(post.id, i)">
                <i class="fa-solid fa-heart"></i>
                
                {{post?.idreacts.length}} 
              </button> </ng-container>

            <button class="comment">
              <i class="fa-regular fa-comment"></i>
            </button>
            <button class="share">
              <i class="fa-regular fa-share-from-square"></i>
            </button>
          </div>
        </div>
      </div>

    </article>
  </div>
</div>