<div class="container">
  <div class="contact">
    <div class="contact_card"  >
    
     <div class="image">
      <img src="/assets/userf.png"  id="blah" alt="Avatar" />
    </div>
      <div class="textcard">
       <div class="name">
        {{nom}}
    </div>
   
    </div>

</div>

<br>
<br>
<div class="contact_card">

  <div class="filter">
    <input type="radio" id="recent" name="sortOrder1" value="desc" [(ngModel)]="selectedSortOption" (click)="sortPostsByDate('desc')"/>
    <label id="txt" for="sortOrder1" >Date la plus récente</label><br><br>
    <input type="radio" id="oldest" name="sortOrder2" value="asc" [(ngModel)]="selectedSortOption" (click)="sortPostsByDate('asc')"/>
    <label id="txt"for="sortOrder2" >Date la plus ancienne </label><br><br>
    <input type="radio" id="relevance" name="sortOrder3" value="likes" [(ngModel)]="selectedSortOption"(click)="sortPostsByLikes()" />
    <label id="txt" for="sortOrder3"  >Pertinence</label>
  </div>
  


</div>
<br><br>
<div class="contact_card">
  <!-- Add this input field to your HTML template -->
<input type="text" [(ngModel)]="searchTerm" placeholder="Search by description" (change)="filterPosts()" />

</div>
  </div>
  

<div class="post">
  <h3 class="title">Publication</h3>

  <div class="popup-1-wrap">
      <input id="popup-1-coupon" type="checkbox">
      <div class="popup-1-overlay">
          <label for="popup-1-coupon" class="popup-1-trigger"></label>
          <div class="popup-1-content">
              <label for="popup-1-coupon" class="popup-1-close">×</label>
              <app-add-post></app-add-post>
          </div>
      </div>
  </div>

  <article class="publication">
      

      <ng-container>
          <div  *ngFor="let post of posts " class="content-publication wrap shadow">

              <div class="heading">
                <div class="name" >
            
                  <img src="/assets/userf.png " alt="User Image">
                   <p class="title" ><label>{{post.user.anonyme}}</label></p>
                </div>
                <p class="date" style="text-align: right; " >{{post.date | date: 'dd/MM/yyyy HH:mm:ss' }}</p>
                <div class="public" style="text-align: right;padding: 4%;padding-right: 10%;">
                  <p style="text-align: left;size: 20px;">{{post.desc}}.</p>
    
                </div>
                <img src="https://placehold.co/600x400" style="width: 150px; height: 100px; border-radius: 0;margin: 5px;" alt="Image" *ngFor="let file of post.files">
    
    
              
                <div class="reaction">
                  <button class="like"><i class="fa-regular fa-heart"></i></button>
                  <button class="comment"><i class="fa-regular fa-comment"></i></button>
                  <button class="share"><i class="fa-regular fa-share-from-square"></i></button>
        
        
                </div>
              </div>
            </div> 
      </ng-container>
  </article>
</div>
