


.publication{
    
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      background-color: transparent;
      width: 100%;
}


.contact p {
  color: #007CF8;
  text-align: left;
  /* font-size: 16px;   */
  font-weight: bold;
}

.title {
  text-align: center;
  font-weight: 900;
  font-size: 1rem;
  color: #007CF8;

}


.fa {
  color: #007CF8;
  cursor: pointer;
}


.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
  flex-wrap: wrap;
  
 
}


.contact {
  width: 20%;
  min-height: 98vh;
  max-height: 100vh;
  height: 100vh;
overflow: auto;
  padding: 1rem 0 !important;
  background: white;
  border-radius: 1rem;

}
.contact::-webkit-scrollbar{
  display: none;
}

.post {
  width: 75%;
  border-radius: 15px;
  color: #0a0a0a;
  padding: 2rem 1rem;
  background: white;
  overflow:auto ;
  max-height: 100vh;
}
.post::-webkit-scrollbar{
  display: none;
}

@media screen and (max-width:900px) {
  .contact {
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: none ;
  max-height: none;
  }
  .container div img {
    width: 8rem !important;
    height: 8rem !important;
    object-fit: contain;
    border-radius: 50%;
  
  }
  
  
  .post {
  width: 98%;
  margin: 0 auto !important;
  overflow: none !important ;
  max-height: auto !important;
  height: auto !important;
  }

  
}







.container div img {
  width: 95%;
  height: 10%;
  object-fit: contain;
  border-radius: 50%;
  margin: 0 auto;
}


.contact_card {
  width: 95%;
  background-color: rgb(250, 246, 246); ;
  border-radius: 10px;
  margin: 0 auto;
  /* Ajoutez cette ligne pour centrer horizontalement */
  text-align: left;
  padding: 1rem;
  font-size: 0.9rem;
}


button {
  background-color: #007CF8;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 1rem;
  width: 60%;
  margin: 1rem;
  display: flex;
  justify-content: center;
  color: white;
}



.post-send {
  padding: 20px 15px;
}

  
.input-post {
  width: 90% !important;
  background: rgb(250, 246, 246)!important;  /* Couleur rouge */
  border: none;
  padding: 0.8rem;
  border-radius: 1.2rem;
  margin: 1rem 0;

}


.text-container {
  flex-grow: 1;
}



.postuler {
  background-color: red;
}

.postuler button {
  width: 20%;
  font-size: 1rem;
  margin: auto;
  margin-bottom: 1rem;
  background-color: #57707D;
}

.content-publication {
  width: 95%;
  background: white;
  border-radius: 10px;
  /* Add this line for border-radius */
  -webkit-box-shadow: 0px 0px 14px -4px #00000060; 
  box-shadow: 0px 0px 14px -4px #00000060;
text-align: left;
padding: 2rem;
margin: 1rem 0;
}



.content-publication .heading .name img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.content-publication .heading .name  {
  font-size: 20px;
  color: #000;
  font-weight: 100;
}

.content-publication .heading p {
  color: #818181;
  font-size: 15px;
}

.content-publication .public p {
  font-size: 0.9rem;
  line-height: 1.5;
  color: #333;
width: 90%;
margin: 0 auto;
}


.fav{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.content-publication .fav .like,
.content-publication .fav .comment {
  padding: 0.5rem 1rem;
  background: #007CF8;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-bottom: 1rem;
  transition: all .1s;
  width: 45%;
}



.content-publication .fav .like:active,
.content-publication .fav .comment:active {
  transform: scale(.95);
}

.content-publication .fav .like:before {
  content: '\f164  ';
  font-family: fontAwesome;
  margin-right: 10px;
}

.content-publication .fav .comment:before {
  content: '\f075';
  font-family: fontAwesome;
  margin-right: 7px;
  box-shadow: 0px 6px 16px -6px rgba(94, 92, 92, 0.5);

}



.button{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}