<!--ICON-->
<!-- <link rel="shortcut icon" href="/DevanagariBrahmi/logo.png" /> -->

<!--META TAGS-->
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="author" content="Team Bboysdreamsfell" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta property="og:locale" content="en_US" />
<meta property="og:url" content="" />
<meta property="og:site_name" content="Profiler Name || Krishivalahs" />

<!--EXTERNAL CSS-->

<div class="container">
  <table>
    <tr>

      <td class="contact">
        <div class="title">Profil Entreprise</div>

        <section>
       
          <img src="/assets/userf.png" id="blah" alt="Avatar" />
        </section>
        <br>

        
        <div class="contact_card">
          <br>
          <b>Nom entreprise :</b><br> {{email}} <br>
          <b>Domaime :</b><br> {{email}} <br>
          <b>E-mail professionnel :</b><br> {{email}} <br>
          <b>Pays :</b><br> {{email}} <br>
          <b>Site web :</b><br> {{email}} <br>
          <b>Secteur d'activite :</b><br> {{email}} <br>
          <b>Effectif :</b><br> {{email}} <br>

           
         
        <div class="button">
          <button class="edit" (click)="navigateToCvCreer('')">
            Ajouter employers
          </button>
          <button class="edit" (click)="navigateToCvCreer('')">
            Modifier profil
          </button>
        </div>

        </div>
       
      </td>
      <td class="post" rowspan="2">

        <ul style="overflow: auto;">

          <article class="publication">
          
            <div class="postuler">

            </div>
            <app-add-post  *ngIf="post==true"></app-add-post>
            

            <div *ngIf="post==false" class="content-publication wrap shadow">
              <div class="heading flex-center">
                <div class="name flex-cente">
                  <img class="post" src="/assets/userf.png">
                  <div class="text-container">
                    <input class="input-post" (click)="post=!post" type="text" readonly placeholder=" ">
                  </div>
                </div>
                
              </div>
            </div>
            
         
            <div class="content-publication wrap shadow">
              <div class="heading flex-center">

                <div class="name flex-center" style="text-align: left;">
                  <img src="/assets/userf.png">
                  <h3 style="text-align: left;">Jhon doe</h3>
                </div>
                <p class="date" style="text-align: left;">1 min</p>
                <div class="public" style="text-align: right;">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.</p>

                </div>
                <div class="fav" style="text-align: center;">
                  <button class="like">J aime</button>
                  <button class="comment">Commentaire</button>
                </div>
              </div>

            </div>
            <div class="content-publication wrap shadow">
              <div class="heading flex-center">

                <div class="name flex-center" style="text-align: left;">
                  <img src="/assets/userf.png">
                  <h3 style="text-align: left;">Jhon doe</h3>
                </div>
                <p class="date" style="text-align: left;">1 min</p>
                <div class="public" style="text-align: right;">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.</p>

                </div>
                <div class="fav" style="text-align: center;">
                  <button class="like">J aime</button>
                  <button class="comment">Commentaire</button>
                </div>
              </div>
            </div>
            <div class="content-publication wrap shadow">
              <div class="heading flex-center">

                <div class="name flex-center" style="text-align: left;">
                  <img src="/assets/userf.png">
                  <h3 style="text-align: left;">Jhon doe</h3>
                </div>
                <p class="date" style="text-align: left;">1 min</p>
                <div class="public" style="text-align: right;">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.</p>

                </div>
                <div class="fav" style="text-align: center;">
                  <button class="like">J aime</button>
                  <button class="comment">Commentaire</button>
                </div>
              </div>

            </div>

          </article>
        </ul>

      </td>
    </tr>
  

  </table>

</div>

<!--JAVASCRIPT-->