/* html {
    scroll-behavior: smooth;
    }
    :root{
    scrollbar-color: rgb(210,210,210) rgb(46,54,69) !important;
    scrollbar-width: thin !important;
    }
    ::-webkit-scrollbar {
    height: 12px;
    width: 8px;
    background: #000;
    }
    ::-webkit-scrollbar-thumb {
    background: gray;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
    }
    ::-webkit-scrollbar-corner {
    background: #000;
    }
    
    
     */
    
    
    
    
    
    body{
    margin:0;
    overflow-x:hidden;
    background:#ffffff !important;
    font-family: 'Oswald', sans-serif;
    }
  
    a,li,em,button,input,textarea,select{
    text-decoration:none;
    list-style:none;
    font-style:normal;
    outline:none !important;
    transition:0.5s;
    resize:none;
    }
    
    ul{
    position:relative;
    left:-20px;
    }
    
    ul li{
    padding:20px 0;
    color:gray;
    border-bottom:1px solid rgba(255,255,255,0.1);
    }
    
    b{
    color:#fff;
    }
    
    .btn{
    background:#7ed321;
    padding:10px;
    border:0;
    outline:none;
    color:#fdeaea;
    display:block;
    width:60px;
    margin:10px 0;
    text-align:Center;
    border-radius:5px;
    cursor:pointer;
    }
    
    
    .fa{
    color:#7ed321;
    cursor:pointer;
    }
    
    
    
    
    
    
    .container{
    width:90%;
    margin:10vh auto;
    
    }
    
    .container table{
    width:100%;
    }
    
    .container table td{
    /* margin:30px; */
    border-radius:5px;
    box-shadow:0px 6px 16px -6px rgba(233, 223, 223, 0.5);
    /* padding:30px; */
    background-color:#ffffff;
    color:#0a0a0a;
    vertical-align:top;

    box-shadow: rgba(127, 183, 209, 0.878) -1rem 1.875rem 1.875rem -1.25rem;
    padding: 2.5625rem 2.1875rem;
    margin: 10rem auto;
    min-height: 25.2rem;
    }
    
    .container table td:nth-child(1){
    text-align:Center;
    }
    
    .container table td:nth-child(2) .fa{
    float:right;
    }
    
    .container table td:nth-child(2) input{
    background:none;
    outline:none;
    border:0;
    color:rgb(2, 2, 2);
    width:60%;
    pointer-events:none;
    }
    
    .container table td:nth-child(1) section{
    position:relative;
    width:200px;
    height:200px;
    margin:5vh auto;
    }
    
    
    .container table td:nth-child(1) .fa{
    position:absolute;
    right:25px;
    top:25px;
    font-size:2em;
    }
    
    .container table td img{
    width:200px;
    height:200px;
    border-radius:50%;
    }
    
    .container table td h3{
    color:rgb(3, 3, 3);
    font-weight:normal;
    }
    
    .container table .section2{
    text-align:left;
    }
    
    .container table .section2 label{
    display:block;
    margin:10px 0;
    text-align:left;
    } 
    
    .container table .section2 select{
    background:#0e0c0c;
    width:100%;
    padding:19px;
    border:0;
    outline:none;
    color:rgb(14, 13, 13);
    }
    
    .container table .section2 input{
    background:#080808;
    width:90%;
    padding:20px;
    color:rgb(7, 6, 6);
    border:0;
    outline:none;
    }
    
    .container table .section2 .quantityselector{
    height:80px;
    border-bottom:0px;
    }
    
    .container table .section2 .quantityselector section{
    display:inline-block !important;
    width:45%;
    margin:0 10px;
    }
    
    .container table textarea{
    width:90%;
    resize:none;
    outline:none;
    border:0;
    background:#030303;
    color:rgb(7, 6, 6);
    padding:20px;
    }
    
    
    
    .container .inframe .card{
    width:100%;
    height:40vh;
    position:relative;
    overflow:hidden;
    display:block;
    margin:10px 0;
    }
    
    .container .inframe .card img{
    width:100%;
    height:40vh;
    border-radius:0;
    }
    
    .card_content{
    height:0;
    position:absolute;bottom:0;
    width:100%;background-color:rgba(32, 32, 32, 0.8);
    transition:0.5s;
    }
    
    .card_content ul li{
    padding:5px;
    font-size:13px;
    }
    
    .card_content h3{
    text-align:Center;
    color:#161515;
    }
    
    .inframe .card:hover > .card_content{
    height:40vh;
    }
    
    .card_content .btn{
    font-size:12px;
    width:100px;
    display:inline-block;
    margin:0 10px;
    }
    
    
    
    
    @media (max-width:820px){
    .container{
    width:100%;
    }
    .container table td{
    display:block;
    width:90%;
    margin:0px;
    }
    .container table .section2 .quantityselector section{
    width:41%;
    margin:0px 10px;
    }
    .container table .section2 ul{
    position:relative;
    left:-40px;
    }
    
    .container table .section2 .quantityselector{
    
    }
    }
    
    
     
    
    
  
    
    .alert.success {background-color: #061943;}
    .alert.info {background-color: #FFFFFF;}
    .alert.warning {background-color: #007CF8;}
    
    .closebtn {
      margin-left: 15px;
      color: white;
      font-weight: bold;
      float: right;
      font-size: 22px;
      line-height: 20px;
      cursor: pointer;
      transition: 0.3s;
    }
    
    .closebtn:hover {
      color: rgb(219, 216, 216);
    }