<!--ICON-->
<!-- <link rel="shortcut icon" href="/DevanagariBrahmi/logo.png" /> -->


<!--EXTERNAL CSS-->

<div class="container">


      <div class="contact">
        <div class="title">Profil Entreprise</div>

       
          <img src="/assets/userf.png" id="blah" alt="Avatar" />
        <br>

        
        <div class="contact_card">
          <b>Nom entreprise :</b><br> {{email}} <br>
          <b>Domaime :</b><br> {{email}} <br>
          <b>E-mail professionnel :</b><br> {{email}} <br>
          <b>Pays :</b><br> {{email}} <br>
          <b>Site web :</b><br> {{email}} <br>
          <b>Secteur d'activite :</b><br> {{email}} <br>
          <b>Effectif :</b><br> {{email}} <br>

           
         
        <div class="button">
          <button class="edit" (click)="navigateToCvCreer('')">
            Ajouter employers
          </button>
          <button class="edit" (click)="navigateToCvCreer('')">
            Modifier profil
          </button>
        </div>

        </div>
       
      </div>
      <div class="post">

       

          <article class="publication">
          
            <div class="postuler">

            </div>
            <app-add-post  *ngIf="post==true"></app-add-post>
            

            <div *ngIf="post==false" class="content-publication wrap shadow">
              <div class="heading flex-center">
                <div class="name flex-cente">
                  <img  src="/assets/userf.png">
                  <div class="text-container">
                    <input class="input-post" (click)="post=!post" type="text" readonly placeholder=" ">
                  </div>
                </div>
                
              </div>
            </div>
            
         
            <div class="content-publication wrap shadow">
              <div class="heading flex-center">

                <div class="name flex-center" >
                  <img src="/assets/userf.png">
                  <h3 >Jhon doe</h3>
                </div>
                <p class="date" >1 min</p>
                <div class="public" >
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.</p>

                </div>
                <div class="fav" style="text-align: center;">
                  <button class="like">J aime</button>
                  <button class="comment">Commentaire</button>
                </div>
              </div>

            </div>
            <div class="content-publication wrap shadow">
              <div class="heading flex-center">

                <div class="name flex-center" >
                  <img src="/assets/userf.png">
                  <h3 >Jhon doe</h3>
                </div>
                <p class="date" >1 min</p>
                <div class="public" >
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.</p>

                </div>
                <div class="fav" style="text-align: center;">
                  <button class="like">J aime</button>
                  <button class="comment">Commentaire</button>
                </div>
              </div>
            </div>
            <div class="content-publication wrap shadow">
              <div class="heading flex-center">

                <div class="name flex-center" >
                  <img src="/assets/userf.png">
                  <h3 >Jhon doe</h3>
                </div>
                <p class="date" >1 min</p>
                <div class="public" >
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.</p>

                </div>
                <div class="fav" style="text-align: center;">
                  <button class="like">J aime</button>
                  <button class="comment">Commentaire</button>
                </div>
              </div>

            </div>

          </article>
       

      </div>
  
  
</div>

<!--JAVASCRIPT-->