
  .container {
    padding:5%;
    width: 100%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    display: flex;
    align-items:center;
    justify-content: center;
  }

  
  /* === CONVERSATIONS === */

  @media screen and (max-width:1000px) {
    .discussions{
      width: 15% !important;
    }
    .chat {
      width: calc(85% - 85px) !important;
    }

 
    p.name ,div.timer,p.message{
      display: none;
    }
  }

  @media screen and (max-width:600px) {
    .container {
      width: 90%;
      padding: 0;
      margin:2rem auto;
    }
  
    .discussions{
      width: 15% !important;
    }
    .chat {
      width: 80% !important;
    }
    .discussion .photo{
      width: 90%;
      height: 90%;
    }
 

  }
  .discussions {
    width: 35%;
    max-height:90vh;
    height:90vh;
    box-shadow: 0px 8px 10px rgba(0,0,0,0.20);
    overflow: auto;
    background-color: #fff;
    display: inline-block;
    direction: rtl;

  }

  .discussions .discussion {
    direction:ltr;

    width: 100%;
    height: 90px;
    background-color: #FAFAFA;
    border-bottom: solid 1px #E0E0E0;
    display:flex;
    align-items: center;
  
    cursor: pointer;
    overflow: hidden;
  }
  
  .discussions .search {
    display:flex;
    align-items: center;
    justify-content: center;
    color: #E0E0E0;
  }
  
  .discussions .search .searchbar {
    height: 40px;
    background-color: #FFF;
    width: 70%;
    padding: 0 20px;
    border-radius: 50px;
    border: 1px solid #EEEEEE;
    display:flex;
    align-items: center;
    cursor: pointer;
  }
  
  .discussions .search .searchbar input {
    margin-left: 15px;
    height:38px;
    width:100%;
    border:none;
  }
  
  .discussions .search .searchbar *::-webkit-input-placeholder {
      color: #E0E0E0;
  }
  .discussions .search .searchbar input *:-moz-placeholder {
      color: #E0E0E0;
  }
  .discussions .search .searchbar input *::-moz-placeholder {
      color: #E0E0E0;
  }
  .discussions .search .searchbar input *:-ms-input-placeholder {
      color: #E0E0E0;
  }
  
  .discussions .message-active {
    width: 100%;
    height: 90px;
    background-color: #9ddefc;
    border-bottom: solid 1px #9ddefc;
    display:flex;
    align-items: center;
  }
  
  .discussions .discussion .photo {
      margin-left:20px;
      display: block;
      width: 3rem;
      height: 3rem;
      background: #E6E7ED;
      -moz-border-radius: 50px;
      -webkit-border-radius: 50px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }
  
  .online {
    position: relative;
    top: 30px;
    left: 35px;
    width: 13px;
    height: 13px;
    background-color: #8BC34A;
    border-radius: 13px;
    border: 3px solid #FAFAFA;
  }
  .offline {
    position: relative;
    top: 30px;
    left: 35px;
    width: 13px;
    height: 13px;
    background-color: #a7a7a7;
    border-radius: 13px;
    border: 3px solid #FAFAFA;
  } 
  .desc-contact {
 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .discussions .discussion .name {
    margin: 0 0 0 20px;
    font-size: 11pt;
    font-weight: 700;
    color:#515151;
  }
  
  .discussions .discussion .message {
    margin: 6px 0 0 20px;
    font-family:'Montserrat', sans-serif;
    font-size: 9pt;
    color:#515151;
  }
  .lastMessage{
    padding-left: 2rem;
  }
  .timer {
    margin-left: 15%;
    font-family:'Open Sans', sans-serif;
    font-size: 11px;
    padding: 3px 8px;
    color: #BBB;
    background-color: #FFF;
    border: 1px solid #E5E5E5;
    border-radius: 15px;
  }
  
  .chat {
    width: calc(65% - 85px);
    background-color:white;
    max-height:90vh;
    height:90vh;
    border-left:2px solid #6793fb ;
 

  }
  
  .header-chat {
    background-color: #FAFAFA;
    height: 10%;
    display:flex;
    align-items: center;
  }
  
  .chat .header-chat .icon {
    margin-left: 30px;
    color:#515151;
    font-size: 14pt;
  }
  
  .chat .header-chat .name {
    margin: 0 0 0 20px;
    text-transform: uppercase;
    font-family:'Montserrat', sans-serif;
    font-size: 13pt;
    color:#515151;
  }
  
  .chat .header-chat .right {
    position: absolute;
    right: 40px;
  }
  
  .chat .messages-chat {
    padding: 1rem;
    overflow: auto;
    height: 80%;
  }

  .chat .messages-chat::-webkit-scrollbar{
    display: none;
  }
  
  .chat .messages-chat .message {
    display:flex;
    align-items: flex-end;
    
    margin-bottom: 8px;
  }
  
  .chat .messages-chat .message .photo {
      display: block;
      width: 45px;
      height: 45px;
      background: #E6E7ED;
      -moz-border-radius: 50px;
      -webkit-border-radius: 50px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }
  
  .chat .messages-chat .text {
    margin: 0 5px;
    background-color: #93c2e9;
    padding: 15px;
    border-radius: 12px;
    max-width: 80%;
    text-wrap: wrap;
    word-wrap: break-word; 
    white-space: pre-wrap;
    text-align: left;

  }
  
  .text-only {
    margin-left: 45px;
    text-align: center !important;
    display: flex;
    justify-content: flex-end;
  }
  .eye{
    font-size: 0.6rem;
    text-align: center !important;
    display: flex;
    justify-content: center;
    height: 100%;
  }
  .text-only .text {
    background-color: antiquewhite !important;
    white-space: pre-wrap;
    text-align: left;
  }
  .time {
    font-size: 10px;
    color:lightgrey;
    margin-bottom:10px;
    margin-left: 85px;
  }
  
  .response-time {
    float: right;
    margin-right: 40px !important;
  }
  
  .response {
    float: right;
    margin-right: 0px !important;
    margin-left:auto; /* flexbox alignment rule */
  }
  
  .response .text {
    background-color: #e3effd !important;
    white-space: pre-wrap;
    text-align: left;

  }
  .fa-eye{
    color :#6793fb;
  }
  .footer-chat {
    width: 100%;
    height: 10%;
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: transparent;
    border-top: 2px solid #d6d6d6;
    padding: 0;
  }
  
  .chat .footer-chat .icon {
    margin-left: 30px;
    color:#C0C0C0;
    font-size: 14pt;
  }
  
  .chat .footer-chat .send {
    color:#fff;
    background-color: #4f6ebd;
    right: 50px;
    padding: 12px 12px 12px 12px;
    border-radius: 50px;
    font-size: 14pt;
    cursor: pointer;
  }
  
  .chat .footer-chat .name {
    margin: 0 0 0 20px;
    text-transform: uppercase;
    font-family:'Montserrat', sans-serif;
    font-size: 13pt;
    color:#515151;
  }
  
  .chat .footer-chat .right {
    position: absolute;
    right: 40px;
  }
  
  .write-message {
    border:none !important;
    width:80%;
    height: 50px;
    padding: 10px;
  }

  .footer-chat *::-webkit-input-placeholder {
    color: #C0C0C0;
    font-size: 13pt;
  }
  .footer-chat input *:-moz-placeholder {
    color: #C0C0C0;
    font-size: 13pt;
  }
  .footer-chat input *::-moz-placeholder {
    color: #C0C0C0;
    font-size: 13pt;
    margin-left:5px;
  }
  .footer-chat input *:-ms-input-placeholder {
    color: #C0C0C0;
    font-size: 13pt;
  }
  
  .clickable {
    cursor: pointer;
  }


  .dots-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  
  .dot {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #b3d4fc;
    animation: pulse 1.5s infinite ease-in-out;
  }
  
  .dot:last-child {
    margin-right: 0;
  }
  
  .dot:nth-child(1) {
    animation-delay: -0.3s;
  }
  
  .dot:nth-child(2) {
    animation-delay: -0.1s;
  }
  
  .dot:nth-child(3) {
    animation-delay: 0.1s;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(0.8);
      background-color: #b3d4fc;
      box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }
  
    50% {
      transform: scale(1.2);
      background-color: #6793fb;
      box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
    }
  
    100% {
      transform: scale(0.8);
      background-color: #b3d4fc;
      box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }

    
  }

  .loader {
    border: 4px solid rgba(0, 0, 0, .1);
    border-left-color: transparent;
    border-radius: 50%;
  }
  
  .loader {
    border: 4px solid rgba(0, 0, 0, .1);
    border-left-color: transparent;
    width: 36px;
    height: 36px;
  }
  
  .loader {
    border: 4px solid rgba(0, 0, 0, .1);
    border-left-color: transparent;
    width: 36px;
    height: 36px;
    animation: spin89345 1s linear infinite;
  }
  
  @keyframes spin89345 {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }