

<div class="form-container">
    <div class="heading">  profil de l'utilisateur </div>
<div class="container">  </div>

    <form [formGroup]="userProfil" (ngSubmit)="userProfiladd()" action="">
        <input class="input" type="text" id="firstName" formControlName="firstName"  placeholder="Prénom">
  
        <input class="input" type="text" id="lastName" formControlName="lastName" placeholder="Nom" required>
        <!-- <input class="input" type="email" id="email" name="email" [(ngModel)]="email" disabled> -->

        <input class="input" type="tel" id="phoneNumber" placeholder="Téléphone" formControlName="phoneNumber" required>
        <input class="input" type="text" placeholder="Addresse" id="address" formControlName="address" required>
        <!-- <label for="dob">Date de naissance</label> -->
        <div>
        </div>
        <input class="input" type="date" id="dob" placeholder="Date de naissance" formControlName="dob" required>
        <!-- <label for="genre">Genre :</label> -->
        <select id="genre" formControlName="genre" aria-placeholder="dff">
          <option value="homme">Homme</option>
          <option value="femme">Femme</option>
        </select>
      
        <!-- <p>Genre sélectionné : {{ genre }}</p> -->
      
        <button type="submit" >Submit</button>

      <!-- <button type="submit" [routerLink]="['/user/profil']" >Submit</button> -->
    </form>
  </div>

