

.form-container {
    background-color: #fff;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 27rem;
    margin: 2rem auto;

  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #007CF8;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    font-size: 16px;
    margin: 0 auto ;
width: 100%;
 }
  .heading {
    text-align: center;
    font-weight: 900;
    font-size: 2rem;
    color: #007CF8;
  }
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .input {
    width: 90%;
    background: white;
    border: none;
    padding: 1rem;
    border-radius: 1.2rem;
    margin-top: 1rem;
    box-shadow: #cff0ffc7 0px 10px 10px -5px;

  }
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  