<div class="container">
  <div class="heading">Inscription </div>
  <form [formGroup]="signupForm" class="form">
       <input type="text" class="input" formControlName="email"  placeholder="E-mail professionnel*"/>
        <div *ngIf=" signupForm.controls['email'].invalid && (signupForm.controls['email'].dirty || signupForm.controls['email'].touched) " class="text-danger" >
          <div *ngIf="signupForm.controls['email'].errors?.['minlength']">
            E-mail professionnel min len 3
          </div>

          <div *ngIf="signupForm.controls['email'].errors?.['required']">
            E-mail professionnel Req *
          </div>
        </div>
      
      
        <input type="text" class="input" formControlName="password" placeholder="Mot de passe"/>
     


  
    <input type="text" class="input" formControlName="confirmPwd"placeholder="Confirm Mot de passe*" />
    <div *ngIf=" signupForm.controls['confirmPwd'].invalid && (signupForm.controls['confirmPwd'].dirty ||  signupForm.controls['confirmPwd'].touched)" class="text-danger">
      <div *ngIf="signupForm.controls['confirmPwd'].errors?.['mustMatch']">
        confirmPwd *
      </div>
    </div>
  <BR>
    <BR>
  
    <input class="login-button" type="submit" value="S'inscrire" (click)="signup()">
    </form>

</div>