
<div class="container">
    <div class="heading">Profil Entreprise</div>
      <form [formGroup]="signupForm" (ngSubmit)="creation()"  class="form">

        <input type="file" formControlName="file" id="file" (change)="onFileSelected($event)">
      
          <input type="text"  class="input" formControlName="title" id="title" placeholder="Nom entreprise*" />

          <div
            *ngIf=" signupForm.controls['title'].invalid &&(signupForm.controls['title'].dirty ||signupForm.controls['title'].touched) "class="text-danger">
            <div *ngIf="signupForm.controls['title'].errors?.['minlength']">
             nom entreprise min len 3
            </div>

            <div *ngIf="signupForm.controls['title'].errors?.['required']" >
              Nom entreprise Req *
            </div>
          </div>

          <select class="input pp"  formControlName="activity" id="activity">
            <option value=""  disabled selected>Secteur d'activité*</option>
            <option value="sector1">Technologie de l'Information (TI) </option>
            <option value="sector2">Santé et Sciences de la Vie </option>
            <option value="sector3">Finance et Banque </option>
            <option value="sector4">Énergie et Environnement </option>
            <option value="sector5">Énergie et Environnement </option>
            <option value="sector6">Commerce de Détail et E-commerce </option>
            <option value="sector7">Industrie Automobile  </option>
            <option value="sector8">Agroalimentaire </option>
            <option value="sector9">Éducation</option>
            <option value="sector10">Divertissement et Médias </option>
          </select>
      
          <div *ngIf="signupForm.controls['activity'].invalid && 
                     (signupForm.controls['activity'].dirty || 
                     signupForm.controls['activity'].touched)" class="text-danger">
            <div *ngIf="signupForm.controls['activity'].errors?.['required']">
              Secteur d'activité Req *
            </div>
          </div >
<div class="division">
          <input type="text" class="input"  formControlName="adresse"  placeholder="adresse*" />

          <div
            *ngIf=" signupForm.controls['adresse'].invalid &&(signupForm.controls['adresse'].dirty ||signupForm.controls['adresse'].touched) "class="text-danger">
            <div *ngIf="signupForm.controls['adresse'].errors?.['minlength']">
              Pays min 5
            </div>

            <div *ngIf="signupForm.controls['adresse'].errors?.['required']" >
              Pays Req *
            </div>
          </div>
          <input type="text" class="input"  formControlName="timezone"  placeholder="timezone*" />

          <div
            *ngIf=" signupForm.controls['timezone'].invalid &&(signupForm.controls['timezone'].dirty ||signupForm.controls['timezone'].touched) "class="text-danger">
            <div *ngIf="signupForm.controls['timezone'].errors?.['minlength']">
              timezone min 4
            </div>

            <div *ngIf="signupForm.controls['timezone'].errors?.['required']" >
              timezone Req *
            </div>
          </div>
        </div>
      

        <input class="login-button" type="submit" value="Sauvegarder" >
      </form>
</div>


      
