
  .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .container .card {
    width: 11rem;
    margin: 20px;
    padding: 20px 15px;
    background: #034f9b ;
    border-radius: 1rem;
    border:1px solid #fff;
    box-shadow: -6px -6px 20px rgba(255, 255, 255, 0.6), 6px 6px 20px rgba(0, 0, 0, 0.1);
    height: 15.2rem;
  }
  .container .card:hover {
    box-shadow: inset -3px -3px 20px rgba(255, 255, 255, 0.35), inset 6px 6px 20px rgba(0, 0, 0, 0.05);
  }
  .container .card .imgBx {
    position: relative;
    text-align: center;
  }
  .container .card .imgBx img {
    max-width: 41%;
    border-radius:100%;
  border:0.1rem solid #ccc;
  }
  .container .card .contentBx {
    position: relative;
    margin-top: 20px;
    text-align: center;
  }
  .container .card .contentBx h2 {
    color: #fff;
    font-weight: 700;
    font-size: 1.4em;
    letter-spacing: 0.4px;
  }
  .container .card .contentBx p {
    color: #fff;
  }
  .container .card .contentBx a {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 0.5rem;
    color: #fff;
    text-decoration: none;
    border:1px solid #fff;
    font-size: 0.7rem;
    box-shadow: -2px -2px 10px rgba(255, 255, 255, 0.6), 2px 2px 10px rgba(0, 0, 0, 0.1);
  }
  .container .card .contentBx a:hover {
    box-shadow: inset -4px -4px 10px rgba(255, 255, 255, 0.35), inset 4px 4px 10px rgba(0, 0, 0, 0.05);
  }
  .container .card a:hover span {
    display: block;
    transform: scale(0.98);
  }
  .container .card:hover .imgBx,
  .container .card:hover .contentBx {
    transform: scale(0.98);
  }
  i{
    display: flex;
    justify-content: end;
    color: #fff;
    
  }
  a{
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 0.5rem;
    color: #fff;
    text-decoration: none;
    border:1px solid #fff;
    font-size: 0.7rem;
    box-shadow: -2px -2px 10px rgba(255, 255, 255, 0.6), 2px 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #034f9b;
  }
  p{ color: #034f9b;
    font-weight: bold;}