
<div class="container">
  
  

  
    <div class="contact_card">
      <div class="filter">

         <span>Timezone :</span><br>
        
        <select class="input pp" [(ngModel)]="selectedTimezone" id="timezone" (change)="onTimezone()">
          <option value="" disabled  selected>Timezone*</option>
        <option value="albania">albania</option>
        <option value="America/New_York">America/New_York</option>
        <option value="Europe/London"> Europe/London </option>
        <option value="America/Chicago">America/Chicago </option>
        <option value="America/Los_Angeles">America/Los_Angeles</option>
        <option value="Europe/Berlin">Europe/Berlin </option>
        <option value="Asia/Kolkata">Asia/Kolkata </option>
        <option value="Australia/Sydney">Australia/Sydney </option>
        <option value="Australia/Adelaide ">Australia/Adelaide </option>
        <option value="Australia/Perth">Australia/Perth</option>
        <option value="Asia/Shanghai">Asia/Shanghai </option>
        <option value="Africa/Tunis">Africa/Tunis </option>
        <option value="Europe/Paris">Europe/Paris </option>
        <option value="Asia/Phnom_Penh">Asia/Phnom_Penh </option>
        <option value="Europe/Istanbul"> Europe/Istanbul </option>
        <option value="Pacific/Auckland">Pacific/Auckland </option>
        <option value="Europe/Moscow">Europe/Moscow </option>
        <option value="America/Mexico_City">America/Mexico_City </option>
        <option value="Asia/Tokyo">Asia/Tokyo</option>
        <option value="America/Sao_Paulo">America/Sao_Paulo </option>

      </select>
      <button (click)="reload()" class="delete" id="reset"><i class="fa-solid fa-rotate-right"></i></button>
      
      <hr>
      <br>
      <span>Niveau Expertise :</span><br>
      <div class="txt">
        <select class="input pp" [(ngModel)]="niveauSkill" id="timezone" (change)="onniveauSkill()">
          <option value="" disabled  selected>Niveau*</option>
          <option value="debutant" selected>débutant</option>
          <option value="intermediaire">intermediaire</option>
          <option value="avance">avancé</option>
          <option value="expert">expert</option>
        </select>
        <button (click)="reload()">Reset</button>
      </div>
      <hr>
      <br>
      <span>Compétences Secondaires :</span><br>
      <div class="txt">
        <select class="input pp" [(ngModel)]="niveauSkill" id="timezone" (change)="onniveauSkill()">
          <option value="" disabled  selected>Compétences*</option>
          <option value="debutant" selected>JAVA</option>
          <option value="intermediaire">C</option>
          <option value="avance">SQL</option>
          <option value="expert">JS</option>
          <option value="expert">PHP</option>
          <option value="expert">SPRING</option>
        
        </select>
       
      </div>
      <div class="txt">
        <input
          type="checkbox"
          id="checkbox"
          name="sortOrder3"
          value="likes"
        />
        <span>Disponibilite</span>
      </div>
      <hr>
      <br>
      <div class="txt">
        <input
          type="checkbox"
          id="relevance"
          name="sortOrder3"
          value="likes"
        />
        <span>Disponibilite</span>
      </div>
      </div>
     <br/><br/>
     

    </div>
    <br /><br/>
   

    
  

    <div class="post">
    <h3 class="h">Liste Talent </h3>
    <article class="publication">

<div class="container"*ngIf="talents!=null">
  <div *ngFor="let talent of talents.content" class="card">
    <div class="imgBx">
     
      <!-- <img [src]="talent.imageURL" alt="{{talent.name}} Avatar"> -->
      <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjxivAs4UknzmDfLBXGMxQkayiZDhR2ftB4jcIV7LEnIEStiUyMygioZnbLXCAND-I_xWQpVp0jv-dv9NVNbuKn4sNpXYtLIJk2-IOdWQNpC2Ldapnljifu0pnQqAWU848Ja4lT9ugQex-nwECEh3a96GXwiRXlnGEE6FFF_tKm66IGe3fzmLaVIoNL/s1600/img_avatar.png">
    </div>
    <div class="contentBx">
      <h2> {{talent.anonyme}} </h2><br>
      <p> {{talent.mainSkill}} </p>
      <a [routerLink]="['/user/compte',talent.user]"><span>Profil</span></a>
      <a (click)=" addOrGOToChat(talent.user)"><span>Contacter</span></a>
    </div>
  </div>
</div>

    </article>


    </div>
</div>