<div>
  <button (click)="generatePdf()">Generate PDF</button>
</div>
<div class="rectangle-container">
  <div class="rectangle1">
    <div class="icon">
      <i  class="fa-regular fa-envelope" ></i>
    </div>
    <div class="text">
      <p>Message</p>
    </div>
  </div>
  <div class="rectangle2">
    <div class="icon">
      <i class="fa-regular fa-file"></i>
    </div>
    <div class="text">
      <p>Message</p>
    </div>
  </div>

  <div class="rectangle3">
    <div class="icon">
     
      <i class="fa-regular fa-user"></i>  </div>
      <div class="text">
        <p>Message</p>
      </div>
  </div>
</div>
<div class="rectangle-container">
  <div class="rectangle4">
    <div class="icon1">
      <i class="fa-regular fa-building"></i> </div>
    <div class="text">
      <p> vue par entreprise</p>
      <p>{{profil.vuesEntreprise}}</p>
    </div>
  </div>
  <div class="rectangle5">
    <div class="icon1">
      <i class="fa-solid fa-user-plus"></i>    </div>
    <div class="text">
      <p> vue par personne</p>
      <p>{{profil.vuesTalent}}</p>
    </div>
  </div>

  <div class="rectangle6">
    <div class="icon1">
      <i class="fa-solid fa-signs-post"></i>  </div>
      <div class="text">
        <p> </p>
      </div>
  </div>

</div>
<div class="rectangle-container">
  <div class="rectangle7">
    <div class="icon2">
      <div class="text">
        <p> nombre  des réagit 18  </p>
      </div>
      <i class="fa-solid fa-heart"></i>   </div>
  
  </div>
  <div class="rectangle8">
    <div class="icon2">
      <div class="text">
        <p> nombre  des réagit 13 </p>
      </div>
      <i class="fa-solid fa-comment"></i>    </div>

  </div>

  <div class="rectangle9">
    <div class="icon2">
      <div class="text">
        <p> nombre  des réagit 22</p>
      </div>
      <i class="fa-solid fa-share"></i> </div>
     
  </div>
  
</div>
<br>
<!-- <div class="dashboard">
  <div class="widget">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <i class="fa fa-comments fa-2x"></i>
      </div>
      <div class="panel-body">
        <div class="huge">26</div>
        <div>New Comments!</div>
      </div>
      <a href="#" class="panel-footer">
        <span class="pull-left">View Details</span>
        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
        <div class="clearfix"></div>
      </a>
    </div>
  </div>

  <div class="widget">
    <div class="panel panel-green">
      <div class="panel-heading">
        <i class="fa fa-tasks fa-2x"></i>
      </div>
      <div class="panel-body">
        <div class="huge">12</div>
        <div>New Tasks!</div>
      </div>
      <a href="#" class="panel-footer">
        <span class="pull-left">View Details</span>
        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
        <div class="clearfix"></div>
      </a>
    </div>
  </div>

  <div class="widget">
    <div class="panel panel-yellow">
      <div class="panel-heading">
        <i class="fa fa-user fa-2x"></i>
      </div>
      <div class="panel-body">
        <div class="huge">124</div>
        <div>New Orders!</div>
      </div>
      <a href="#" class="panel-footer">
        <span class="pull-left">View Details</span>
        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
        <div class="clearfix"></div>
      </a>
    </div>
  </div>

  <div class="widget">
    <div class="panel panel-red">
      <div class="panel-heading">
        <i class="fa fa-user fa-2x"></i>
      </div>
      <div class="panel-body">
        <div class="huge">{{ profil?.vuesTalent }}</div>
        <div>Nombre des vues</div>
      </div>
      <a href="#" class="panel-footer">
        <span class="pull-left">View Details</span>
        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
        <div class="clearfix"></div>
      </a>
    </div>
  </div>
</div> -->
