body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dashboard {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Style de la ligne de rectangles */
/* Style de la ligne de rectangles */
.rectangle-container {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

/* Style des rectangles */
.rectangle1 {
  height: 90px;
  margin-right: 10px;
  background: linear-gradient(to right, #5BC0EB 40%, rgb(236, 233, 233) 40%, rgb(255, 253, 253) 100%);
  border-radius: 10px;
  border: rgb(197, 193, 193) solid;
  display: flex;
  align-items: center;
  width: 30%;
}
.rectangle2 {
  height: 90px;
  margin-right: 10px;
  border-radius: 10px;
  border: rgb(197, 193, 193) solid;
  display: flex;
  align-items: center;
  width: 30%;
  background: linear-gradient(to right, #9BC53E 40%, rgb(236, 233, 233) 40%, rgb(255, 253, 253) 100%);

}



.rectangle3 {
  height: 90px;
  margin-right: 10px;
  background: linear-gradient(to right, #5BC0EB 40%,rgb(194, 191, 191) 40%, rgb(207, 205, 205) 100%);
  border-radius: 10px;
  border: rgb(197, 193, 193) solid;
  display: flex;
  align-items: center;
  width: 30%;

  background: linear-gradient(to right, #E55935 40%,   rgb(236, 233, 233) 40%, rgb(255, 253, 253) 100%);

}
.rectangle4 {
  height: 110px;
  margin-right: 10px;
  background: linear-gradient(to right, #1fabe7 40%, #5BC0EB 40%, #5BC0EB);
  border-radius: 10px;
  border: rgb(197, 193, 193) solid;
  display: flex;
  align-items: center;
  width: 30%;
}
.rectangle5 {
  height: 110px;
  margin-right: 10px;
  background: linear-gradient(to right, #8db92d 40%, #9BC53E 40%, #9BC53E 100%);
  border-radius: 10px;
  border: rgb(197, 193, 193) solid;
  display: flex;
  align-items: center;
  width: 30%;
}
.rectangle6 {
  height: 110px;
  margin-right: 10px;
  background: linear-gradient(to right, #ec4217 40%,  #E55935 40%,  #E55935 100%);
  border-radius: 10px;
  border: rgb(197, 193, 193) solid;
  display: flex;
  align-items: center;
  width: 30%;
}
.rectangle7 {
  height: 150px;
  margin-right: 10px;
  background: linear-gradient(to right, #5BC0EB 100%, #5BC0EB 40%, #5BC0EB);
  border-radius: 10px;
  border: rgb(197, 193, 193) solid;
  display: flex;
  align-items: center;
  width: 30%;
  display: flex;
    justify-content: space-between;

}
.rectangle8 {
  height: 150px;
  margin-right: 10px;
  background: linear-gradient(to right, #9BC53E 100%, #9BC53E 40%, #9BC53E 100%);
  border-radius: 10px;
  border: rgb(197, 193, 193) solid;
  display: flex;
  align-items: center;
  width: 30%;
}
.rectangle9 {
  height: 150px;
  margin-right: 10px;
  background: linear-gradient(to right, #E55935 100%,  #E55935 40%,  #E55935 100%);
  border-radius: 10px;
  border: rgb(197, 193, 193) solid;
  display: flex;
  align-items: center;
  width: 30%;
}

.icon {
  color: white;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  width: 40%; /* Ajustez la largeur de l'icône selon vos besoins */
  font-size: 2rem;
}

.icon1 {
  color: white;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  width: 40%; /* Ajustez la largeur de l'icône selon vos besoins */
  font-size: 2.5rem;
}
.icon2 {
  color: white; /* Couleur grisâtre avec une composante alpha (transparence) */
  /* display: flex; */
  /* justify-content: center; */
   /* Ajustez la largeur de l'icône selon vos besoins */
  font-size: 3rem;
  display: flex;
  justify-content: space-between;
  gap:2.5rem;
}
.text {
  flex-grow: 1;
  padding-left: 15px; /* Ajustez la marge à gauche selon vos besoins */
  width: 30%;
  color: white;
  font-size: large;
}

.text p {
  text-align: left; 
  margin: 0;
}
.widget {
  flex: 0 0 calc(48% - 20px);
  /* Adjust width and margin as needed */
  margin-bottom: 20px;
  width: 100%;
}

.panel {
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s;
}

.panel:hover {
  transform: scale(1.05);
}

.panel-heading {
  padding: 20px;
  background-color: #3498db;
  color: #fff;
}

.panel-body {
  padding: 20px;
}

.huge {
  font-size: 32px;
  margin-bottom: 5px;
}

.panel-footer {
  padding: 10px 20px;
  background-color: #2980b9;
  color: #fff;
  text-decoration: none;
  display: block;
  text-align: left;
  transition: background-color 0.3s;
}

.panel-footer:hover {
  background-color: #1c6dad;
}

.panel-footer span {
  margin-right: 10px;
}

button {
  width: 20%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}