
.container {
  max-width: 27.4rem;
  width: 95%;
  background: white;
  border-radius:4%;
  padding: 1rem 2rem;
  border: 0.3125rem solid rgb(255, 255, 255);
  box-shadow: rgba(127, 183, 209, 0.878) -1rem 1.875rem 1.875rem -1.25rem;
  margin: 4rem auto;
 
}
  
  .heading {
    text-align: center;
    font-weight: 900;
    font-size: 1.2rem;
    color: #007CF8;
    text-align: left;
  }
  
  .form {
    margin-top: 1.25rem;
  }
  
  .form .input {
    width: 100%;
    background: rgb(247, 246, 246);
    border: none;
    padding: 0.9375rem 1.25rem;
    border-radius: 1.25rem;
    margin-top: 0.9375rem;
    box-shadow: #cff0ff 0rem 0.625rem 0.625rem -0.3125rem;
    font-size: 0.7rem;
    border-inline: 0.125rem solid transparent;
  }
  
  .form .input::-moz-placeholder {
    color: rgb(170, 170, 170);
  }
  
  .form .input::placeholder {
    color: rgb(102, 100, 100);
  }
  
  .form .input:focus {
    outline: none;
    border-inline: 0.125rem solid #007CF8;
  }
  

  .form .login-button {
    width: 100%;
    background: linear-gradient(45deg, rgb(12, 105, 163) 0%, #007CF8 100%);
    color: white;
    padding-block: 0.9375rem;
    margin: 1.5rem auto;
    border-radius: 1.25rem;
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0rem 1.25rem 0.625rem -0.9375rem;
    border: none;
    transition: all 0.2s ease-in-out;
  }
  
  .form .login-button:hover {
    transform: scale(1.03);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0rem 1.4375rem 0.625rem -1.25rem;
  }
  
  .form .login-button:active {
    transform: scale(0.95);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0rem 0.9375rem 0.625rem -0.625rem;
  }
  

