header {
  background: url("/../assets/bghome.png") no-repeat;
  background-size: 52.5%;
  width: 100%;
  min-height: 75vh;
  background-position: center right;
  background-color: white;
}

@media screen and (max-width: 500px) {
  header {
  
    min-height: 75vh;
  background-size: cover;


  }


  header .header-content {
 
    min-height: 75vh;
  
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-direction: column;
    font-size: 0.9rem;
  background-position: center !important;
   
}
.header-content h1{
  font-size: 1rem;
 font-weight: 700 !important;
  text-align:center !important;
 
}


.header-content span{
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
  text-align: center;
  padding-left: 0;
}




 
 .signup-button {
   text-align: center !important;
   margin: 0 auto !important;
  
}
}
header .header-content {
 
    max-width: 50rem;
    padding: 2rem;
    width: 100%;
    min-height: 55vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    flex-direction: column;
    font-size: 16px;
    font-weight: 900;
    padding: 1rem;
   
}
.header-content h1{
  font-size: 2rem;
  width: 100%;

  text-wrap: balance;
  padding:  1rem;
  margin: 0 auto;
  margin-top: 3rem;
  text-align:left;
  font-weight: 900;
  letter-spacing: 2.5px;
  background-image: linear-gradient(55deg,#126dc7, #04203b);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  text-transform: uppercase;

}
.header-content h1  span{ 
  font-size: 2rem;
  
  font-weight: 900;
  letter-spacing: 2.5px;
  background-image: linear-gradient(55deg,#3596f8,#3596f8 );
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  text-transform: uppercase;
}

.header-content span{
  font-size: 1rem;
  letter-spacing: 3px;
 font-weight: normal;
padding-left: 1rem;
}




 
 .signup-button {
   font-weight: bold;
   border:0.8px solid  #3596f8;
   color: white;
   padding: 1rem 2rem;  
   border-radius: 2rem;
   box-shadow: rgba(232, 235, 236, 0.878) 0rem 1.25rem 0.625rem -0.9375rem;
   background-color: #007CF8;
   transition: all 0.2s ease-in-out;
   text-decoration: none;
   text-align: center !important;
   justify-self: center;
   margin:1rem ;
}


 .signup-button:hover {
  transform: scale(1.03);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0rem 1.4375rem 0.625rem -1.25rem;
}

 .signup-button:active {
  transform: scale(0.95);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0rem 0.9375rem 0.625rem -0.625rem;
}



 

