
<header>
    <div class="header-content">

      <h1>Marketplace</h1>
      <span>Meet a team of experts and innovators who are pioneers in their field</span>

        <div class="wrap">
            <div class="search">
               <input type="text" class="searchTerm" placeholder="rechercher n’importe quelle compétence...">
               <button type="submit" class="searchButton">
                 <i class="fa fa-search"></i>
              </button>
            </div>
         </div>
    </div>
 
        <div class='wrapper'>
            <div class='carousel'>
              <div class='carousel__item'>
                <div class='carousel__item-head'>
                </div>
                <div class='carousel__item-body'>
                      <p class='title'>Websites</p>
                </div>
              </div>
             
              <div class='carousel__item'>
                <div class='carousel__item-head'>
                  
                </div>
                <div class='carousel__item-body'>
                  <p class='title'>Software Development</p>
                  
                </div>
              </div>
              <div class='carousel__item'>
                <div class='carousel__item-head'>
                  
                </div>
                <div class='carousel__item-body'>
                  <p class='title'>Mobile Apps</p>
                  
                </div>
              </div>
              <div class='carousel__item'>
                <div class='carousel__item-head'>
                  
                </div>
                <div class='carousel__item-body'>
                  <div class='title'>Test QA & Analyse</div>
                  <p></p>
                </div>
              </div>
              <div class='carousel__item'>
                <div class='carousel__item-head'>
                  
                </div>
                <div class='carousel__item-body'>
                  <p class='title'>Support informatique</p>
                  <p></p>
                </div>
              </div>
              <div class='carousel__item'>
                <div class='carousel__item-head'>
                  
                </div>
                <div class='carousel__item-body'>
                  <p class='title'>DevOps & Cloud</p>
                  <p></p>
                </div>
              </div>
              <div class='carousel__item'>
                <div class='carousel__item-head'>
                  
                </div>
                <div class='carousel__item-body'>
                  <p class='title'>Cyber sécurité</p>
                  <p></p>
                </div>
              </div>
              <div class='carousel__item'>
                <div class='carousel__item-head'>
                  
                </div>
                <div class='carousel__item-body'>
                  <p class='title'>Blockchain & Cryptomonnaie</p>
                  <p></p>
                </div>
              </div>
            </div>
        </div>
       

  </header>